:root {
  --text: #111214;
  --light-text: #fff;
  --background: #f5f7f9;
  --primary: #0052cc;
  --secondary: #89b1ec;
  --accent: #3f89f9;
}

body {
  color: var(--text);
  background-color: var(--background);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e3e4;
  padding: 0.5rem 1rem;
}

header nav {
  display: flex;
  gap: 0.5rem;
}

.header-logo {
  font-size: 2rem;
  color: var(--primary);
  text-decoration: none;
}

.header-logo:visited {
  text-decoration: none;
}

.folder-item,
.file-item {
  padding: 1rem;
  cursor: pointer;
}

.folder-item:hover,
.file-item:hover {
  background-color: #e1e2e3;
}

.breadcrumb {
  padding: 0 0.5rem;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: "→";
}

.dashboard-content {
  padding: 1rem;
}

.dashboard-item.active {
  background-color: var(--accent);
}

.dashboard-headers,
.dashboard-item {
  display: grid;
  grid-template-columns: 5fr 1fr 2fr 1fr;
  border-bottom: 1px solid gray;
  align-items: center;
}
